{{!-- User's view once they click on the "New Post" button option from the dashboard page. Displays "Your Dashboard"
with "Create New Post" text box to create new blog post by clicking 'create' button option --}}

{{!-- TODO: Use helper functions if needed--}}
<h1 class="pl-5 pb-3 mt-n1">Your Dashboard</h1>

<div class="pl-3 py-3">
    <a id="switchPage" href="/dashboard">
        <small class="form-text text-muted">&larr; Back to Dashboard</small>
    </a>
</div>

<div class="card mx-auto w-75 p-3">
  <div class="card-header pb-1">
    <h4>Create New Post</h4>
  </div>

  <form id="create-post-form" >
    <div class="form-group">
      <label class="form-label" for="create-title">Title:</label>
      <input type="text" class="form-control" id="create-title" placeholder="Type title here..."/>
    </div>

    <div class="form-group">
      <label for="create-contents">Content:</label>
      <textarea type="text" class="form-control" id="create-contents" placeholder="Type content here..."rows="3"></textarea>
    </div>

    <div class="text-center mt-n4">
      <button type="submit" href="/api/blogPosts" class="btn btn-primary" id="create-btn">Create</button>
    </div>
  </form>

</div>

<script src="/js/createPost.js"></script>