{{!-- User's view once they click on the dashboard from navigation link. Displays "Your Dashboard" with  "New Post" button option and the all the user's personal existing blog posts with the option to click the blog post and edit --}}

{{!-- TODO: Use helper functions --}}
<h1>Your Dashboard</h1>

<form id="select-newPost">
    <button>+ New Post</button>
</form>