{{!-- User's view once the user clicks on an existing blog post from their dashboard. Shows user 'Edit Post' text box
for title and content with 'Update Post' button option. Also shows 'Delete' button option to delete post.--}}

{{!-- TODO: Use helper functions if needed--}}
<h1>Your Dashboard</h1>
<div class="card">
    <div class="card-header">
        <a href="/dashboard"> &larr; Back to Dashboard</a>
        <h2>Edit Blog Post</h2>
    </div>
    <form id="edit-post-form" class="card-body">
        <input type="hidden" value="{{blogPost.id}}" />
        <div>
            <label class="form-label" for="edit-title">Title:</label>
            <br>
            <input type="text" id="edit-title" value="{{blogPost.title}}"/>
        </div>
        <div>
            <label class="form-label" for="edit-contents">Content:</label>
            <br>
            <textarea type="text" id="edit-contents">{{blogPost.contents}}</textarea>
        </div>
        <button class="btn" type="submit">Update</button>

        <button id="delete-btn" class="btn" type="button">Delete</button>
    </form>
</div>

<script src="/js/editPost.js"></script> 