{{!-- User's view once the user clicks option from navigation to "login." Displays login form with 'login' button. Also
has alternative 'sign up' button option to "sign up instead" --}}

{{!-- TODO: Use helper functions --}}

<div class="card">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div>
      <label for="username-login">Username:</label>
      <input type="text" id="username-login" />
    </div>
    <div>
      <label for="password-login">Password</label>
      <input type="password" id="password-login" />
    </div>
    <button type="submit" id="login-btn" class="btn">Login</button>
  </form>

  <a type="button" href="/signup">Sign Up Instead</a>
</div>

<script src="./js/login.js"></script>