{{!-- User's view once the user clicks option from navigation to "login." Displays login form with 'login' button. Also
has alternative 'sign up' button option to "sign up instead" --}}

{{!-- TODO: Use helper functions --}}
<h1>The Tech Blog</h1>

<div class="card mx-auto w-75 p-3">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body mx-auto col-10 col-md-8 col-lg-6">
    <div>
      <label for="username-login">Username:</label>
      <input type="text" id="username-login" />
    </div>
    <div>
      <label for="password-login">Password:</label>
      <input type="password" id="password-login" />
    </div>
    <div class="text-center">
      <button type="submit" id="login-btn" class="btn">Login</button>
    </div>
    
  </form>

  <a id="loginOption" type="button" href="/signup">Sign Up Instead</a>
</div>

<script src="./js/loginSignup.js"></script>