* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary: #ffffff;
  --secondary: rgb(244, 234, 222);
  --tertiary: rgb(222, 156, 168);
  --quaternary: rgb(226, 0, 102); 
  --dark: rgb(73, 72, 72);
  /* --border-radius: 0.2rem; */
}

/* #navbar {
  background-color: var(--redwood);
} */

body {
  height: 100vh;
  background-color: var(--secondary);
}

nav, h1 {
  background-color: var(--tertiary);
  color: var(--quaternary) !important;
  padding: 0 25px;
}

.card {
  background-color: var(--secondary);
}

.card-header {
  background-color: var(--tertiary);
  /* color: var(--primary); */
  padding: 10px;
  /* margin-bottom: 20px; */
}

/* .card-title {
  color: var(--primary);
} */

.card h6, .card p {
  font-style: normal;
}

.card p {
  font-style: normal;
}

a {
  color: var(--primary);
}

a:visited {
  color: var(--primary);
}

.form-label {
  margin-top: 20px;
}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  margin: 2em;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--dark);
}

.btn:hover {
  color: var(--primary);
  background-color: var(--quaternary);
}

#switchPage {
  color: var(--dark);
  margin-bottom: 20px;
}

.comments {
  background-color: var(--dark);
}

#comment-header {
  color:var(--primary);
}

.comment-post {
  color:var(--primary);
}