/* :root {
  --primary: #ffffff;
  --mintcream: #F1F7ED;
  --darkslategray: #243E36;
  --cambridgeblue: #7CA982;
  --nyanza: #E0EEC6;
  --oldgold: #C2A83E;
  --border-radius: 0.2rem;
} */
/* :root {
  --primary: #ffffff;
  --seashell: #EEE2DF;
  --champagnepink: #EED7C5;
  --rosybrown: #C89F9C;
  --burntsienna: #C97C5D;
  --redwood: #B36A5E;
  --border-radius: 0.2rem;
} */

/* :root {
  --primary: #ffffff;
  --oxfordblue: #0B132B;
  --spacecadet: #1C2541;
  --vinmnblue: #3A506B;
  --verdigris: #5BC0BE;
  --fluorrescentcyan: #6FFFE9;
  --border-radius: 0.2rem;
} */

:root {
  --primary: #ffffff;
  --secondary: rgb(244, 234, 222);
  --tertiary: rgb(222, 156, 168);
  --quaternary: rgb(226, 0, 102); 
  --border-radius: 0.2rem;
}

/* #navbar {
  background-color: var(--redwood);
} */
body {
  height: 100vh;
  background-color: var(--secondary);
}

nav, h1 {
  background-color: var(--tertiary);
  color: var(--quaternary) !important;
  padding: 0 15px;
}

.card {
  background-color: var(--secondary);
}

.card-header {
  background-color: var(--tertiary);
  color: var(--primary);
}

h2 a {
  color: var(--primary);
}
