* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary: #ffffff;
  --secondary: rgb(244, 234, 222);
  --tertiary: rgb(222, 156, 168);
  --quaternary: rgb(226, 0, 102); 
  --dark: rgb(73, 72, 72);
}

/* #navbar {
  background-color: var(--redwood);
} */

body {
  height: 100vh;
  background-color: var(--secondary);
}

nav, h1 {
  background-color: var(--tertiary);
  color: var(--quaternary) !important;
  /* padding: 0 25px; */
}

.card {
  background-color: var(--secondary);
}

.card-header {
  background-color: var(--tertiary);
  /* color: var(--primary); */
  /* padding: 5px; */
  /* margin-bottom: 20px; */
}

/* .card-title {
  color: var(--primary);
} */

.card p {
  font-style: normal;
  color: var(--)
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--quaternary);
}

.form-label {
  margin-top: 20px;
}

.btn {
  font-size: 1rem;
  text-decoration: none;
  margin: 2em;
  /* border-radius: var(--border-radius); */
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--dark);
}

.btn:hover {
  color: var(--primary);
  background-color: var(--quaternary);
}

#switchPage {
  color: var(--dark);
  margin-bottom: 20px;
}

#comment-single-post {
  color:var(--primary);
}

.comments {
  background-color: var(--dark);
}

#comment-header {
  color:var(--primary);
}


